<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="seleniumtest">
<listeners>
<listener class-name="utilities.Reporting"/>
</listeners>
<test name="wishbook wholesale app">
<parameter name="browser" value="chrome"/>
<classes>
<!--  <class name="testCases.TC_LoginTest_001"/>-->
<!-- <class name="testCases.TC_LoginDDT_002"/>-->
<!-- <class name="testCases.UploadProducts"/> -->
<!--<class name="testCases.noncatalogupload"/>-->
<class name="testCases.Setmatching"/>
 <!--<class name="testCases.blogin"/>-->
<!--<class name="testCases.Bordercase"/> -->
</classes>
</test>
</suite>


